<section class="alternate-section" id="alternate">
    <div class="container">
        <div class="alternate-description">
           {{ getLocalizedStr('alternate.description') }} 
        </div>

        <div class="alternate-list">
            <a class="alternate-item" data-target="pdf-resume" href="/pdf-resume">
                {{ source('@imgs/icons/file-description.svg') }}

                {{ getLocalizedStr('alternate.pdf-resume') }}
            </a>
            <a class="alternate-item" data-target="json-resume" href="/json-resume">
                {{ source('@imgs/icons/braces.svg') }}
                            
                {{ getLocalizedStr('alternate.json-resume') }}
            </a>
        </div>
    </div>
</section>
