{% extends 'layout.html.twig' %}
{% block title %}{{ getLocalizedStr('page.portfolio') }} - {% endblock %}
{% block description %}{{ getLocalizedStr('page.description') }}{% endblock %}
{% block content %}
    {% include('home/profile.html.twig') %}
    {% include('home/intro.html.twig') %}
    {% include('home/technologies.html.twig') %}
    {% include('home/projects.html.twig') %}
    {% include('home/links.html.twig') %}
    {% include('home/contact.html.twig') %} 
    {% include('home/alternate.html.twig') %}
{% endblock %}

