<section id="links">
    <div class="container">
        <div class="section-title">
            <h2 class="title-text">{{ getLocalizedStr('links.title') }}</h2>
        </div>
        <div class="links-container">
            <div class="links">
            {% for link in links %}
            <a class="link-card" href="{{ link.url }}" data-id="{{ link.id }}" {% if link.profile == "main" %}rel="me"{% endif %}>
                <div class="link-card-logo">
                    <img
                        src="imgs/logos/{{ link.thumbnail.src }}"
                        alt="{{ getDynLocalizedStr(link.thumbnail.alt) }}"
                        style="{{ link.thumbnail.style }}"
                    />
                </div>
                <div class="link-card-title">
                    {{ getDynLocalizedStr(link.name) }}
                </div>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
</section>

