<section id="pro-projects">
    <div class="container">
        <div class="section-title">
            <h2 class="title-text">
                {{ getLocalizedStr('projects.pro.title') }}
            </h2>
        </div>
        <p>
        {{ getLocalizedStr('projects.pro.description') }}
        </p>
        {% include 'home/projects_list.html.twig' with {'projects': pro_projects} %}
    </div>
</section>

<section id="side-projects">
    <div class="container">
        <div class="section-title">
            <h2 class="title-text">
                {{ getLocalizedStr('projects.side.title') }}
            </h2>
        </div>
        <p>
        {{ getLocalizedStr('projects.side.description') }}
        </p>
        {% include 'home/projects_list.html.twig' with {'projects': side_projects} %}
    </div>
</section>

<section id="volontoring-projects">
    <div class="container">
        <div class="section-title">
            <h2 class="title-text">
                {{ getLocalizedStr('projects.volunteering.title') }}
            </h2>
        </div>
        <p>
        {{ getLocalizedStr('projects.volunteering.description') }}
        </p>
        {% include 'home/projects_list.html.twig' with {'projects': volunteering} %}
    </div>
</section>
