<div class="projects">
{% for project in projects %}
    <div class="project-card" data-id="{{ project.id }}">
        <div class="project-top">
            <div class="project-thumbnail">
                {% if project.thumbnail is defined %}
                    <img
                        class="project-img"
                        src="imgs/{{ project.thumbnail.src }}"
                        alt="{{ getDynLocalizedStr(project.thumbnail.alt) }}"
                    />
                {% endif %}
            </div>
            <div class="project-content">
                <h3 class="project-title">
                    {% if project.detailled %}
                    <a href="./projects/{{ project.id }}">
                        {{ getDynLocalizedStr(project.name) }}
                    </a>
                    {% else %}
                        {{ getDynLocalizedStr(project.name) }}
                    {% endif %}
                </h3>
                {% if project.description is defined %}
                <p class="project-description">
                    {{ getDynLocalizedStr(project.description) }}
                </p>
                {% endif %}
            </div>
        </div>
        
        <div class="project-bottom">
            {% if project.link is defined %}
            <a href="{{ project.link}}">
                {% if project.action is defined %}
                    {{ getDynLocalizedStr(project.action) }}
                {% else %}
                    {{ getLocalizedStr('external-website') }}
                {% endif %}
            </a>
            {% else %}
            <div></div>
            {% endif %}
            {% if project.date is defined %}
            <div class="project-date-container">
                {{ source('@imgs/icons/calendar-event.svg') }}
                {{ project.date }}
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
