<section id="technologies">
<div class="container">
    <div class="section-title">
        <h2 class="title-text">
            {{ getLocalizedStr('technologies.title') }}
        </h2>
    </div>
    <div class="tech-mosaic-container closed" id="tech-mosaic-container">
        <div class="tech-mosaic">
            {% for tech in technologies %}
                <div class="item" title="{{ tech.name }}">
                    <div class="item-inside">
                        <div class="item-bg">
                            <img
                                    src="/imgs/technos/{{ tech.image }}"
                                    class="{% if tech.height == 'stretch' %}img-stretch{% endif %}"
                            />
                            <div class="img-overlay"></div>
                        </div>
                        <div class="item-content">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tech-mosaic-btn-container" id="tech-mosaic-btn-container">
              <button class="btn mosaic-btn" onclick="openTechMosaic()" id="tech-mosaic-btn">
                  {{ getLocalizedStr('view-more') }}
              </button>
        </div>
    </div>
</div>
</section>
