.chips {
    display: flex;
    flex-wrap: wrap;

    .chip {
        margin-right: .5em;
        margin-bottom: .5em;
        padding: 0.5em 0.9em;
        background: $primary;
        color: white;
        font-size: .9em;
        border-radius: 10rem;
    }
    .chip-outline {
        border: 1px solid $primary;
        background: transparent;
        color: $primary;
    }
    .chip-with-icon {
        display: flex;
        align-items: center;
        .chip-icon {
            display: flex;
            align-items: center;
            margin-right: 0.6em;
        }
    }
}

