.footer-buffer {
    height: 2em;
}

footer {
    // color from the profile gradient
    background-color: #3ea643;
    margin-top: auto;
    color: white;
    // border-top: 1px solid gray;
    // border-color: rgb(84, 91, 94) !important;
    a {
        color: #212121;
    }
}

.footer-container {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
}

.footer-left div {
    margin-bottom: .5em;
}

.footer-right {
    display: flex;
    align-content: center;
}

.locale-switch-large {
    display: flex;
    align-items: center;

    .l {
        margin-right: 1em;
    }
    .r {
        a {
            margin-right: .2em;
        }
    }
}

.locale-switch-short {
    display: none;
}

@media (max-width: $sm-breakpoint) {
    .locale-switch-large {
        display: none;
    }
    .locale-switch-short {
        display: block;
    }
}
