a:hover {
  opacity: .8;
}

p {
  line-height: 1.45em;
  margin-bottom: 1em;
}

p.indent, .indent p {
  text-indent: 3em;
}

h1 {
  font-size: xx-large;
  margin-bottom: 1em;
}

h2 {
  font-size: x-large;
  margin-top: 1.5em;
  margin-bottom: .8em;
}

h3 {
  font-size: large;
}

em {
  font-style: italic;
}

.section-title {
  display: grid;
  font-size: 1.2em;
  grid-template-columns: auto 1fr;
  margin-bottom: 1em;
  margin-top: 1.3em;
  .title-text {
    color: black;
    display: flex;
    align-items: center;
  }

  &::before {
    $square-size: 10px;
    margin: 14px 15px 8px 8px;
    content: '';
    width: $square-size;
    height: $square-size;
    display: block;
    background-color: $primary;
  }
}
