{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="about-header">
            <a href="/">{{ getLocalizedStr('go-back-to-main') }}</a>
        </div>
        {% if getLocale() == 'fr' %}
        <h1>A propos de ce site</h1>

        <p>Les sources de ce site web sont ouvertes et disponibles sur <a href="https://gitlab.com/lefuturiste/portfolio_2022">ce dépot gitlab.com.</a></p>

        <h2>Crédits</h2>
        <p>
        La police d'écriture utilisé sur ce site web est <a href="https://github.com/impallari/Libre-Baskerville">Libre Baskerville</a>, elle est distribué sous la license <a href="https://fr.wikipedia.org/wiki/SIL_Open_Font_License">SIL Open Font License 1.1</a>.
        </p>
        <p>
        La collection d'icones vectorielle provient de <a href="https://tabler-icons.io/">Tabler Icons</a> et est distribué sous la license <a href="https://fr.wikipedia.org/wiki/Licence_MIT">MIT</a>.
        </p>
        <p>
        Le formulaire de contact utilise la librairie JavaScript <a href="https://axios-http.com/">Axios</a> distribué sous la license <a href="https://fr.wikipedia.org/wiki/Licence_MIT">MIT</a>.
        </p>

        <h2>Confidentialité</h2>
        <p>
        Ce site web ne charge (normalement) pas de contenu depuis un site externe, l'intégralité des ressources présente sur la page sont chargés d'un unique serveur.
        </p>
        <p>
        Ce site web n'inclut pas de logiciel de pistage.
        </p>
        <p>
        En envoyant un message par le formulaire de contact vous vous soumettez au mêmes conditions que lors de l'envoie d'un message électronique SMTP (c'est-à-dire pas vraiment de garantie de confidentialité).
        </p>

        <h2>Retours et question</h2>
        <p>
        Si vous avez n'importe quel retours à faire sur mon site web que ça soit en positif ou en négatif ou que vous ayez des questions, n'hésitez pas à me contacter soit en utilisant le formulaire de contact ou en me contactant à <a href="mailto:{{ email }}">{{ email }}</a> j'essairai de faire le maximum pour répondre à vos remarques et questions !
        </p>
        {% endif %}
        {% if getLocale() == 'en' %}
        <h1>About this website</h1>
        <p>The source code of this website is open and available <a href="https://gitlab.com/lefuturiste/portfolio_2022">on gitlab.com.</a></p>
        <h2>Credits</h2>
        <p>
        The font use on this website is <a href="https://github.com/impallari/Libre-Baskerville">Libre Baskerville</a>, it is distributed under the <a href="https://fr.wikipedia.org/wiki/SIL_Open_Font_License">SIL Open Font License 1.1</a>.
        </p>
        <p>
        The icon collection is <a href="https://tabler-icons.io/">Tabler Icons</a> and is distributed under the <a href="https://fr.wikipedia.org/wiki/Licence_MIT">MIT License</a>.
        </p>
        <p>
        The contact form uses the JavaScript library <a href="https://axios-http.com/">Axios</a> which is distributed under the <a href="https://fr.wikipedia.org/wiki/Licence_MIT">MIT License</a>.
        </p>

        <h2>Privacy</h2>
        <p>
        All of the resources of this website are loaded from the same domain and include no 3rd party that could track you.
        </p>
        <p>
        This website doesn't track you.
        </p>
        <p>
        By sending a message via the contact form, you allow to treat your message the same way I treat my mail.
        </p>

        <h2>Feedback</h2>
        <p>
        Feel free to contact me if you have any remarks, issues or feedbacks by using the contact form or mail to <a href="mailto:{{ email }}">{{ email }}</a>.
        </p>
        {% endif %}
    </div>
{% endblock %}

