<!DOCTYPE html>
<html lang="{{ getLocale() }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Matthieu Bessat">
  <meta name="keywords" content="lefuturiste, Matthieu Bessat, Le_Futuriste, développeur web, Web developer, futur2743, freelance, matthieu bessat, Matthieu MB, PHP, vue, js">
  <meta name=theme-color content=#2c7730>
  <meta name=msapplication-TileColor content=#2c7730>
  
  <meta property=og:type content="website">
  <meta property=og:title content="{{ block('title') }}{{ getLocalizedStr('page.title') }}">
  <meta property=og:description content="{% block description %}{% endblock %}">
  <meta property=og:image content="/imgs/profile-300.jpg">
  <meta property=og:locale content="{{ getLocale() }}">

  <title>{% block title %}{% endblock %}{{ getLocalizedStr('page.title') }}</title>

  <link href="/dist/app.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/imgs/favicon.png">
</head>
<body>
  {% block content %}{% endblock %}

  <div class="footer-buffer"></div>
  <footer class="footer">
    <div class="footer-container container">
      <div class="footer-left">
        <div>
          <a href="/about">{{ getLocalizedStr('about-website') }}</a>
        </div>
        <div>
          {{ getLocalizedStr('last-update') }} <span>{{ lastUpdate | date("Y-m-d") }}</span>
        </div>
      </div>
      <div class="footer-right">
        <div class="locale-switch-short">
          <a data-lang-switch="fr" href="{% if enableLocaleSwitch %}/fr{% endif %}">FR</a>
          <a data-lang-switch="en" href="{% if enableLocaleSwitch %}/en{% endif %}">EN</a>
        </div>
        <div class="locale-switch-large">
          <div class="l">{{ getLocalizedStr('locales.choose') }}</div>
          <div class="r">
            <a data-lang-switch="fr" href="{% if enableLocaleSwitch %}/fr{% endif %}">Français</a>
            <a data-lang-switch="en" href="{% if enableLocaleSwitch %}/en{% endif %}">English</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/dist/app.min.js"></script>
</body>
</html>
