<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>{{ getLocalizedStr('') }}</title>


    <link href="/dist/resume.min.css" rel="stylesheet">
</head>
<body class="resume">

    <div class="resume-content">

        <h1>{{ firstName }} <span class="spe">{{ lastName }}</span></h1>

        <h3>{{ getDynLocalizedStr(label) }}</h3>

        <div class="items">
            {{ source('@imgs/icons/cake.svg') }}
        </div>
        
    </div>
</body>
</html>
