/***
Dashboard
**/
.dashboard-client {
  font-family: 'Red Hat Display', sans-serif !important;
}

.header {
  color: white;
  background: linear-gradient(90deg, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

.clock #hours, .clock #minutes, .clock #seconds {
  width: 50px;
}

.dash-title-container {
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dash-title-border {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
  border-image-slice: 1;
}

.cereals-table thead {
  text-transform: uppercase;
}

.cereals-table thead tr th:first-of-type {
  vertical-align: middle !important;
}

.last-row {
  background-color: transparent !important;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
.nav-link {
  display: flex;
}

.nav-icon-container {
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.nav-icon {
  font-size: 1.2em;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn-icon {
  margin-right: .25rem!important;
  font-size: 1em;
}

.table td, .table th {
  vertical-align: initial !important;
}

.footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}


.typeahead-input-container .form-group {
  display: flex;
  flex-direction: column;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}
